body {
  background-image:url('assets/background.png');
  background-repeat:no-repeat;
  width: 600;
  height: 300;
}
div.text1
{
	font-family: georgia;
	color: #000000;
}
#canvasDiv{
 
  position: absolute;
  left:0px;
  top:0px;
  z-index:-1;
}
#logarea{
    left:3px;
    top:245px;
    position: absolute;
    font-family: : serif;
    text-align: left;
    color: #000000;
    border-width: 2px;
    background-color: #ffffff; 
    resize :none;
     border-color: #cd1418;
}
#text2{
    left: 200px;
    top:10px;
    position: absolute;
    font-family: : serif;
    text-align: left;
    color: #000000;
    background-color: transparent; 
    border: hidden;
    resize :none;
    opacity: 0;
}

#text1{
    left: 190px;
    top:10px;
    position: absolute;
    font-family: : serif;
    text-align: left;
    color: #000000;
    background-color: transparent; 
    border: hidden;
    resize :none;
}
#qrCode{
  margin-left:170px;
  margin-top: 10px;
  width: 200px;
  height: 200px;
}
#LightBox{
  position: absolute;
  left: 3px;
  top: 100px;
  font-family: : serif;
  text-align: left;
  color: #cd1418;
  border-width: 2px;
  border-color: #cd1418;
  background-color: #ffffff; 
  resize :none;
}