body {
  background-image:url('assets/background.png');
  background-repeat:no-repeat;
  width: 600;
  height: 300;
}

.all{
  width: 600px;
  height: 400px;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12px;
  text-align: center;
}

#gallery {
  position: absolute;
  top:40px;
  opacity: 0;
}
#logarea{
    left:0px;
    top:270px;
    width: 598px;
    height: 35px;
    position: absolute;
    text-align: left;
    color: #000000;
    border-width: 1px;
    border-style: solid;
    border-color: #807d7d;
    background-color: #ffffff; 
    resize :none;
}
#text1{
    top:10px;
    position: absolute;
    text-align: center;
    color: #000000;
    background-color: transparent; 
    border: hidden;
    resize :none;
}
#qrCode.img{
  text-align: center;
  width: 200px;
  height: 200px;
}
#text2{
    top:10px;
    position: absolute;
    text-align:center;
    color: #000000;
    background-color: transparent; 
    border: hidden;
    resize :none;
    opacity: 0;
}
#LightBox{
  width: 500px;
  height: 90px;
  position: absolute;
  top: 170px;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12px;
  text-align: left;
  color: #cd1418;
  border-width: 2px;
  border-color: #cd1418;
  background-color: #ffffff; 
  resize :none;
}