body {
  background-image:url('assets/background.png');
  background-repeat:no-repeat;
  width: 600;
  height: 300;
}

.all{
  width: 600px;
  height: 400px;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12px;
  text-align: center;
}

#logarea{
    left:0px;
    top:270px;
    width: 598px;
    height: 35px;
    position: absolute;
    text-align: left;
    color: #000000;
    border-width: 1px;
    border-style: solid;
    border-color: #807d7d;
    background-color: #ffffff; 
    resize :none;
}
#text1{
    top:10px;
    position: absolute;
    text-align: center;
    color: #000000;
    background-color: transparent; 
    border: hidden;
    resize :none;
}

#info{
    top:10px;
    position: absolute;
    text-align: center;
    color: #000000;
    background-color: transparent; 
    border: hidden;
    resize :none;
    opacity: 0;
}
#qrCode.img{
  margin-top: 10px;
  width: 200px;
  height: 200px;
  text-align: center;
}

#LightBox{
  width: 500px;
  position: absolute;
  top: 170px;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12px;
  text-align: left;
  color: #cd1418;
  border-width: 2px;
  border-color: #cd1418;
  background-color: #ffffff; 
  resize :none;
}

#images{
  padding:0;
  width: 600px;
  list-style-type: none;
  position: absolute;
  top: 100px;
  opacity: 0;
  text-align: center;
}

.imageItem{
  width: 150px;
  height: 130px;
  float:left;
  position: relative;
  text-align: center;
  background: transparent;
  margin: auto 20px auto 20px;
  cursor: pointer;
}

#radioBtns{
  height: 30px;
  top: 50px;
  position: absolute;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  text-align: center;
  opacity: 0;
}

#radioBtns.
