.log {
  left: 0;
  right: 0;
  bottom: 0;

  text-align: left;
  position: absolute;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;  
}

.log div {
  padding: 8px;
  background-color: #ffffff; 
}

.log .last {
  border: inset 1px #ececec;
}

.log .log-wrap {
  margin: 8px;
  display: none;
  position: relative;
  border: solid 2px #cd1418;
  height: 150px; 
  overflow: hidden;
}

.log .log-wrap textarea {
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  
  border: none;
  resize: none;
   
  height: 100%;
  width: 100%;
  color: #cd1418;
  line-height: 1.5;
  overflow: auto;
  
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.log:hover .log-wrap {
  display: block;
}

.center {
   padding-top: 35px;
}