body {
  background-image:url('background.png');
  background-repeat:no-repeat;
  width: 600;
  height: 300;
}
#gallery {
 
  position: absolute;
  left:150px;
  top:50px;
  opacity: 0;
}
#logarea{
	  left:3px;
  	top:260px;
  	position: absolute;
  	font-family: : serif;
  	text-align: left;
  	color: #000000;
    border-width: 2px;
    border-color: #cd1418;
  	background-color: #ffffff; 
  	resize :none;
}
#text1{
    left: 190px;
    top:10px;
    position: absolute;
    font-family: : serif;
    text-align: left;
    color: #000000;
    background-color: transparent; 
    border: hidden;
    resize :none;
}
#qrCode{
  margin-left:170px;
  margin-top: 10px;
  width: 200px;
  height: 200px;
}
#text2{
    left: 80px;
    top:10px;
    position: absolute;
    font-family: : serif;
    text-align: left;
    color: #000000;
    background-color: transparent; 
    border: hidden;
    resize :none;
    opacity: 0;
}
#imageOn{
  position: absolute;
  opacity: 0;
  left:230px;
  top:50px;
}
#imageOff{
  left:230px;
  top:50px;
  position: absolute;
  opacity: 0;
}
#LightBox{
  position: absolute;
  left: 3px;
  top: 160px;
  font-family: : serif;
  text-align: left;
  color: #cd1418;
  border-width: 2px;
  border-color: #cd1418;
  background-color: #ffffff; 
  resize :none;
}