<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="Tânia Rocha" content="Muzzley" />
    <meta name="copyright" content="Muzzley" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="pragma" content="no-cache" />
    <title>Muzzley Volume Component</title>
    <link rel="stylesheet" href="volume.css">
    <script src="http://cdn.geo.muzzley.com/libraries/js/muzzley-client-0.3.0.min.js"></script>
  </head>
  <body>
    
    <div id="text1" class="all"></div>
    <div id="qrCode" class="all"><img id="qrCodeContainer"></div>
    <div id="text2" class="all"></div>
    <div id="control">
      <div id="pt1" class="ponto" style="left: 10px;">.</div>
      <div id="pt2" class="ponto" >.</div>
      <div id="pt3" class="ponto" >.</div>
      <div id="pt4" class="ponto" >.</div>
      <div id="pt5" class="ponto" >.</div>
      <div id="pt6" class="ponto" >.</div>
      <div id="pt7" class="ponto" >.</div>
      <div id="pt8" class="ponto" >.</div>
      <div id="pt9" class="ponto" >.</div>
      <div id="pt10" class="ponto" >.</div>
      <img src="assets/baseSound.png" with="250" height="40">

    </div>
    <div id="logarea" class="all" onmouseout="hideJSONBox();" onmouseover="displayJSONBox(); return false;"></div>
    <textarea id="LightBox" rows="5" cols="71,5" style="display: none;"></textarea>
    <script>

        var textArea = document.getElementById('text1');
        textArea.innerHTML = 'Scan to start interacting';
        var logArea = document.getElementById('logarea');
        var img = document.getElementById('qrCodeContainer');
        var textArea2 = document.getElementById('text2');
        textArea2.innerHTML = 'Increases/decreases the volume of your mobile phone';
        var LightBox = document.getElementById('LightBox'); LightBox.value = '';
        var myAppToken = 'bcda9d7c69763a98';
        var actionStr;

        var volume=5;
        var old=25; 
        for(var i=1; i<11; i++){
            var name = 'pt'+(i.toString());
            var obj = document.getElementById(name);
            obj.style.top = -68+'px';
            obj.style.left = old+'px';
            old = old + 19;
            if(i <= volume){ obj.style.color = '#be282e';
            }else{ obj.style.color = '#ffffff';
            }
        }

        muzzley.on('error', function(err) {
            //console.log("Error: " + err); 
            logText("Log | Error: " + err);
        });

        muzzley.connectApp(myAppToken, function(err, activity) {
            if (err){
              logText("Log | Connect error: " + err); 
              return //console.log("Connect error: " + err);
            } 

            // Usually you'll want to show this Activity's QR code image
            // or its id so that muzzley users can join.
            // They are in the `activity.qrCodeUrl` and `activity.activityId`
            // properties respectively.
            //console.log(activity); 
            logText('Log | Activty Created - '+activity.activityId);
           
            img.src = activity.qrCodeUrl;         

            activity.on('participantQuit', function(participant) {
                // A participant quit
                logText('Log | Participant Quit - id:' + participant.id);
            });

            activity.on('participantJoin', function(participant) {
              logText('Log | Participant Join - id:' + participant.id + ' name: ' + participant.name);
              img.style.opacity = textArea.style.opacity = 0;
              textArea2.style.opacity = 1;


                // A participant joined. Tell him to transform into a gamepad.
                participant.changeWidget(
                  {
                    widget: 'gamepad',
                    components: [{c: 'remoteVolume'}]
                  }, 
                  function (err) {
                    if (err){
                      logText('Log | Change Widget Error: ' + err);
                      return //console.log('changeWidget error: ' + err );
                    }else{
                      logText('Log | Widget changed / Volume component activated');
                      document.getElementById('control').style.opacity = 1;
                    }
                  });

                participant.on('action', function (action) {
                    // The action object represents the participant's interaction.
                    
                    logText('Log | ' +JSON.stringify(action));
                    if(action.c == "remoteVolume"){
                        controlVolume(action);
                    }
                    LightBox.value = JSON.stringify(action, null, 4);
            
                });

                participant.on('quit', function (action) {
                    // You can also check for participant quit events
                    // directly in each participant object.
                    img.style.opacity = textArea.style.opacity = 1;
                    logText('Log | Participant Quit - id:' + participant.id);
                    textArea2.style.opacity = document.getElementById('control').style.opacity = 0;
                    volume = 5;
                });

            });
        });
      
      
      function controlVolume(action){
          if(action.v == "up"){  volume++;
          }else if(action.v == "down"){ volume--; }

          if(volume < 0){  volume = 0;
          }else if(volume > 10){  volume = 10; }
          
          for(var i=1; i<11; i++){
            var name = 'pt'+(i.toString());
            var obj = document.getElementById(name);
            if(i <= volume){ obj.style.color = '#be282e';
            }else{ obj.style.color = '#ffffff';
            }
        }

      }

      /* Display lightBox with formated JSON message, when the action message is received */
      function displayJSONBox(){        
        if(document.getElementById("LightBox").style.display=="none" && LightBox.value.length != 0) {
          document.getElementById("LightBox").style.display="block";
        } 
      }

      /* Hide lightBox with formated JSON message */
      function hideJSONBox(){
        if(document.getElementById("LightBox").style.display=="block"){
          document.getElementById("LightBox").style.display="none";
        }
      }
      /* Write log message on log textarea*/
      function logText(text){
        LightBox.value = '';
        logArea.innerHTML = text;
      }
      
    </script>
  </body>
</html>