<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="Tânia Rocha" content="Muzzley" />
  <meta name="copyright" content="Muzzley" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="pragma" content="no-cache" />
  <title>Muzzley Volume Component</title>
  <link rel="stylesheet" href="vibration.css">
  <script src="//cdn.muzzley.com/libraries/js/muzzley-client-0.3.5.min.js"></script>
</head>
<body>
  <div class="container">
    <div id="first">
      <p class="header">Scan to start interact</p>
    </div>
    <div id="second">
      <div class="center">
        <div>
          <p>
            Select the vibration type you want to send to your smartphone.
            <br />
            You can also press the Gamepad buttons on your smartphone to have it vibrate. Note that in that case, the vibration instruction is still sent from this very screen.
          </p>
          <select id="options"></select>
        </div>
        <div class="form">
        <form><button id="button">Vibrate</button></form>
        <form><button id="stop">Stop</button></form>
        </div>
        <p class='alert'>Only Android supports different vibration values.</p>
      </div>
    </div>
    <div class="log">
      <div class="wrap">
        <textarea id="detailed" class="detailed"></textarea>  
      </div>
      <div id="last" class="last"></div>      
    </div>
    
  </div>
  
  <script>
    var token = 'bcda9d7c69763a98';
    var options = {
      '0': 'Single',
      // '1': 'Single 2',
      // '2': 'Single 3',
      // '3': 'Single 4',
      // '4': 'Single 5',
      // '5': 'Single 6',
      // '6': 'Single 7',
      // '7': 'Single 8',
      // '8': 'Single 9',
      // '9': 'Single 10',
      // '10': 'Single 11',
      // '11': 'Single 12',

      // '24': 'Triple 4',
      // '25': 'Triple 5',
      // '26': 'Triple 6',

      '12': 'Double',
      // '13': 'Double 2',
      // '14': 'Double 3',
      // '15': 'Double 4',
      // '16': 'Double 5',
      // '17': 'Double 6',
      // '18': 'Double 7',
      // '19': 'Double 8',
      // '20': 'Double 9',
      '21': 'Triple',
      // '22': 'Triple 2',
      // '23': 'Triple 3',
      '27': 'Buzz',
      // '28': 'Buzz 2',
      // '29': 'Buzz 3',
      // '30': 'Buzz 4',
      // '31': 'Buzz 5',
      // '32': 'Buzz 6',
      '33': 'Ramp Up',
      // '34': 'Ramp Up 2',
      // '35': 'Ramp Up 3',
      // '36': 'Ramp Up 4',
      // '37': 'Ramp Up 5',
      // '38': 'Ramp Up 6',
      '39': 'Ramp Down',
      // '40': 'Ramp Down 2',
      // '41': 'Ramp Down 3',
      // '42': 'Ramp Down 4',
      // '43': 'Ramp Down 5',
      // '44': 'Ramp Down 6',
      '45': 'Pulse',
      // '46': 'Pulse 2',
      // '47': 'Pulse 3',
      // '48': 'Pulse 4',
      // '49': 'Pulse 5',
      // '50': 'Pulse 6',
      // '51': 'Pulse 7',
      // '52': 'Pulse 8',
      // '53': 'Pulse 9',
      // '54': 'Pulse 10',
      // '55': 'Pulse 11',
      // '56': 'Pulse 12',
      '57': 'Buzz Bump',
      // '58': 'Buzz Bump 2',
      // '59': 'Buzz Bump 3',
      // '60': 'Buzz Bump 4',
      // '61': 'Buzz Bump 3',
      // '62': 'Buzz Bump 6',
      '63': 'Alert',
      // '64': 'Alert 2',
      // '65': 'Alert 3',
      // '66': 'Alert 4',
      // '67': 'Alert 5',
      // '68': 'Alert 6',
      // '69': 'Alert 7',
      // '70': 'Alert 8',
      // '71': 'Alert 9',
      // '72': 'Alert 10',
      '73': 'Explosion',
      // '74': 'Explosion 2',
      // '75': 'Explosion 3',
      // '76': 'Explosion 4',
      // '77': 'Explosion 5',
      // '78': 'Explosion 6',
      // '79': 'Explosion 7',
      // '80': 'Explosion 8',
      // '81': 'Explosion 9',
      // '82': 'Explosion 10',
      '83': 'Weapon',
      // '84': 'Weapon 2',
      // '85': 'Weapon 3',
      // '86': 'Weapon 4',
      // '87': 'Weapon 5',
      // '88': 'Weapon 6',
      // '89': 'Weapon 7',
      // '90': 'Weapon 8',
      // '91': 'Weapon 9',
      // '92': 'Weapon 10',
      '93': 'Collision',
      // '94': 'Collision 2',
      // '95': 'Collision 3',
      // '96': 'Collision 4',
      // '97': 'Collision 5',
      // '98': 'Collision 6',
      // '99': 'Collision 7',
      // '100': 'Collision 8',
      // '101': 'Collision 9',
      '102': 'Texture',
      // '103': 'Texture 2',
      // '104': 'Texture 3',
      // '105': 'Texture 4',
      // '106': 'Texture 5',
      // '107': 'Texture 6',
      // '108': 'Texture 7',
      // '109': 'Texture 8',
      // '110': 'Texture 9',
      // '111': 'Texture 10',
      '112': 'Engine',
      // '113': 'Engine 2',
      // '114': 'Engine 3',
      // '115': 'Engine 4',
      // '116': 'Engine 5',
      // '117': 'Engine 6',
      // '118': 'Engine 7',
      // '119': 'Engine 8',
      // '120': 'Engine 9',
      // '121': 'Engine 10',
      // '122': 'Engine 11',
      // '123': 'Engine 12'
    }

    var _log = document.getElementById('detailed');
    var _last = document.getElementById('last');
    var _options = document.getElementById('options');
    var _first = document.getElementById('first');
    var _second = document.getElementById('second');
    _second.style.display = 'none';
    

    var _stop = document.getElementById('stop');
    var _vibrate = document.getElementById('button');
    
    var o = document.createElement('option');
    for (var key in options) {
      var value = options[key];
      o.value = key;  
      o.text = value;
      _options.appendChild(o.cloneNode(true));
    };
    
    var logger = function (message) {
      
      var last;
      while (last = _last.lastChild) {
        _last.removeChild(last);
      }
      
      var m = message + '\n';
      var p = document.createElement('p');
      p.innerHTML = message;
      
      _last.appendChild(p);
      _log.value += m;
      _log.scrollTop = _log.scrollHeight;
    }
    
    muzzley.on('error', function(err) {
      logger("Error: " + JSON.stringify(err));
    });

    var number = 0
    var participants = { };
    muzzley.connectApp(token, function(err, activity) {
      if (err) return logger("Connect error: " + err); 
      
      function broadcast(value, participant) {
        if (participant) 
          return participant.sendSignal('signalComponent', {
            'a': 'vibrate',
            'c': 'vibration',
            'd': { 'v': value }
          });
        
        for (var key in participants) {
          var p = participants[key];
          p.sendSignal('signalComponent', {            
            'a': 'vibrate',
            'c': 'vibration',
            'd': { 'v': value }
          });
        }
      }

      _stop.form.onsubmit = function (e) {
        broadcast(0);
        e.preventDefault();
      };

      _vibrate.form.onsubmit = function (e) {
        broadcast(_options[_options.selectedIndex].value);
        e.preventDefault();
      };

      logger('Activity created - ' + activity.activityId);
      var img = document.createElement('img');
      img.className = 'qrcode'
      img.setAttribute('src', activity.qrCodeUrl);
      img.setAttribute('alt', 'Qr code');
      _first.appendChild(img);
      
      activity.on('participantJoin', function(participant) {
        first.style.display = 'none';
        second.style.display = 'block';

        number += 1;
        participants[participant.id] = participant
        logger('Participant join - id:' + participant.id + ' name: ' + participant.name);

        participant.on('action', function(action) {
          logger('Action received - ' + JSON.stringify(action, null, 4));
          if (action.c[0] === 'b' && action.e === 'press') {
            broadcast(1, participant);
          }
          if (action.c === 'jl') {
            if (typeof action.v.i === 'undefined') {
              // Old Gamepad implementation without support for the "intensity" param,
              // simply vibrate
              broadcast(1, participant); 
            }
            if(action.v.i === 1) {
              // When the joystick is moving along the border, trigger vibration
              broadcast(1, participant); 
            }
          }
        });

        participant.on('quit', function () {
          number -= 1;
          delete participants[participant.id];
          logger('Participant quit - id:' + participant.id);
          if (number === 0) {
            first.style.display = 'block';
            second.style.display = 'none';
          }
        });

        participant.changeWidget({
          widget: 'gamepad',
          params: {
            sector: 10,
            intensitySteps: 5
          },
          components: [{c: 'vibration'}]
        }, function (err) {
          if (err) return logger('Change Widget Error: ' + err);
          logger('Widget changed / Vibration component activated');
        });
      });
    });
</script>
</body>
</html>
